body {
  background-color: #fefefe;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  font-family: sans-serif;
}

button:hover {
  cursor: pointer;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h2 {
  margin-left: 1em;
}

.nav-links {
  margin-right: 1em;
}

.nav-button {
  border: none;
  color: #fefefe;
  background-color: #040404;
  margin: 0 0.5em;
  padding: 1.5em 1em;
}

h1 {
  font-size: 4rem;
}

.form-container {
  max-width: 30%;
  margin: auto;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 0;
}

form label {
  text-align: left;
}

.input-fields {
  margin-top: 0;
}

.input-field {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
}

form input {
  padding: 1rem 0.2rem;
  background-color: #040404;
  border: none;
  color: #fefefe;
}

form button {
  margin: 1rem auto;
  border: none;
  background-color: #040404;
  color: #fefefe;
  min-width: 100%;
  padding: 1.5em;
}
